.task {
  /* Sample  */
  display: flex;
  gap: 20px;
  margin: 10px 0;
  justify-content: space-evenly;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.task:hover,
.task:hover>button {
  background-color: black;
  color: wheat !important;
}

.task button {
  background-color: transparent;
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
  /* color: black; */
}

.task button:hover {
  /* background-color: black; */
  color: wheat;
}